* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --basic-color: rgb(221, 58, 72);
}

.section-padding{
  padding: 2rem;
}

.section-margin{
  margin: 2rem auto;
}

@media  screen and (max-width: 1080px) {
  
  .section-margin{
    margin: 2rem auto;
  }
}

@media screen and (max-width: 768px){
  
  .section-margin{
    margin: 1rem auto;
  }
}
@media screen and (max-width: 377px){
  
  .section-margin{
    margin: 1rem .5rem;
  }
}