* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: "./images/logo192.png";
  height: 100vh;
  background-image: url(./images/logo192.png);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 760px 320px;

}

.App {
  margin: auto;
}

.dark-header {
  background-color: rgba(24, 24, 24, 0.87);
  color: white;
}

.bar {
  width: 50px;
  height: 20px;
  display: inline-block;
  background-color: rgba(24, 24, 24, 0.87);
  border-radius: 10px;
  margin: 0 5px;
  padding: 1px;
  position: relative;
}

.dark-bar {
  background-color: white;
}

.ball {
  width: 20px;
  height: 18px;
  border-radius: 20px;
  background-color: white;
  display: block;
  position: absolute;
  left: 7%;
  transition: all .3s ease-in-out;
}

.dark-ball {
  left: 55%;
  background-color: rgba(24, 24, 24, 0.87);
}

.dark-body {
  color: white;
  background-color: rgb(36 38 46);
}

header {
  display: flex;
  place-items: center;
  padding: 10px 50px;
  font-size: 1.3em;
  height: 90px;
  background-color: rgb(206, 221, 220);
}

header .logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

header h4 {
  font-size: 46px;
  margin: 10px;
  color: #61dafb
}

main {
  margin: 70px auto;
  width: 80%;
  font-size: 1.5em;
  padding: 60px 30px;


}

main h1 {
  margin: 0;
}


main ul {
  line-height: 1.6em;
  margin: 30px;
  font-size: 1.2em;
  font-family: monospace;
}


main ul li::marker {
  color: #61dafb;
}